@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="auth-content">
    <div class="auth-bg">
        <span class="r"></span>
        <span class="r s"></span>
        <span class="r s"></span>
        <span class="r"></span>
    </div>
    <div class="card">
        <div class="card-body text-center">
                If you have an account with us, we have sent an email
                with the instructions to reset your password.
        </div>
    </div>
</div>


