@{
    ViewData["Title"] = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="auth-content">
    <div class="auth-bg">
        <span class="r"></span>
        <span class="r s"></span>
        <span class="r s"></span>
        <span class="r"></span>
    </div>
    <div class="card">
        <div class="card-body text-center">
            Your password is reset. Please <a asp-action="Login">click here to login</a>
        </div>
    </div>
</div>

